In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import os
os.getcwd()

'/Users/anshumantewary/Downloads/IPBA/Python/Codes'

In [2]:
data = pd.read_csv('/Users/anshumantewary/Downloads/IPBA/Python/Module 5- Predictive Analytics/1. Logistic Regression in Python Demo Part 1/dm.csv')

In [5]:
data.head()

,Age,Gender,OwnHome,Married,Location,Salary,Children,History,Catalogs,AmountSpent,Cust_Id
0,Old,Female,Own,Single,Far,47500,0,High,6,755,247
1,Middle,Male,Rent,Single,Close,63600,0,High,6,1318,127
2,Young,Female,Rent,Single,Close,13500,0,Low,18,296,479
3,Middle,Male,Own,Married,Close,85600,1,High,18,2436,475
4,Middle,Female,Own,Single,Close,68400,0,High,12,1304,151

In [13]:
#the marketer has defined a customer as a good customer whose spend is greater than the avg spend
data['target'] = data['AmountSpent'].map(lambda x: 1 if x>data['AmountSpent'].mean() else 0)

In [16]:
data['target'].value_counts()

0    601
1    399
Name: target, dtype: int64

In [17]:
data.head()

,Age,Gender,OwnHome,Married,Location,Salary,Children,History,Catalogs,AmountSpent,Cust_Id,target
0,Old,Female,Own,Single,Far,47500,0,High,6,755,247,0
1,Middle,Male,Rent,Single,Close,63600,0,High,6,1318,127,1
2,Young,Female,Rent,Single,Close,13500,0,Low,18,296,479,0
3,Middle,Male,Own,Married,Close,85600,1,High,18,2436,475,1
4,Middle,Female,Own,Single,Close,68400,0,High,12,1304,151,1

In [18]:
data = data.drop('AmountSpent', axis = 1)

In [19]:
data.head()

,Age,Gender,OwnHome,Married,Location,Salary,Children,History,Catalogs,Cust_Id,target
0,Old,Female,Own,Single,Far,47500,0,High,6,247,0
1,Middle,Male,Rent,Single,Close,63600,0,High,6,127,1
2,Young,Female,Rent,Single,Close,13500,0,Low,18,479,0
3,Middle,Male,Own,Married,Close,85600,1,High,18,475,1
4,Middle,Female,Own,Single,Close,68400,0,High,12,151,1

In [21]:
data['History'].value_counts()

High      255
Low       230
Medium    212
Name: History, dtype: int64

In [22]:
data.History.isnull().sum()

303

In [24]:
data['History'] = data['History'].fillna('NewCust')

In [25]:
data['History'].value_counts() #A new value has been created in place of null values

NewCust    303
High       255
Low        230
Medium     212
Name: History, dtype: int64

In [31]:
#time to split the data in test and train in excel

from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size = 0.3, random_state = 100)

train.shape
test.shape

(300, 11)

In [37]:
#Lets run our model on the training data and test the model on the testing data

import statsmodels.formula.api as smf
import statsmodels.api as sm

data.columns

Index(['Age', 'Gender', 'OwnHome', 'Married', 'Location', 'Salary', 'Children',
       'History', 'Catalogs', 'Cust_Id', 'target'],
      dtype='object')

In [39]:
model1 = smf.glm('target~C(Age)+C(Gender)+C(OwnHome)+C(Married)+C(Location)+Salary+C(Children)+C(History)+C(Catalogs)', data = data,
                 family = sm.families.Binomial()).fit()

model1.summary()

#here C indicates factor variables

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                 1000
Model:                            GLM   Df Residuals:                      983
Model Family:                Binomial   Df Model:                           16
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -230.33
Date:                Wed, 15 Feb 2023   Deviance:                       460.66
Time:                        02:18:55   Pearson chi2:                     559.
No. Iterations:                    25
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                -6.0747      1.015     -5.988      0.000      -8.063      -4.086
C(Age)[T.Old]            -0.0294      0.377     -0.078      0.938      -0.768       0.709
C(Age)[T.Young]          -1.0423      0.398     -2.616      0.009      -1.823      -0.262
C(Gender)[T.Male]         0.1033      0.250      0.413      0.679      -0.387       0.593
C(OwnHome)[T.Rent]       -0.1157      0.272     -0.426      0.670      -0.648       0.417
C(Married)[T.Single]     -0.2785      0.318     -0.875      0.382      -0.903       0.345
C(Location)[T.Far]        1.4804      0.308      4.811      0.000       0.877       2.084
C(Children)[T.1]         -0.7502      0.324     -2.313      0.021      -1.386      -0.115
C(Children)[T.2]         -2.4194      0.466     -5.191      0.000      -3.333      -1.506
C(Children)[T.3]         -1.4981      0.540     -2.777      0.005      -2.556      -0.441
C(History)[T.Low]       -26.1831   1.78e+04     -0.001      0.999   -3.49e+04    3.48e+04
C(History)[T.Medium]     -1.5642      0.372     -4.202      0.000      -2.294      -0.835
C(History)[T.NewCust]     0.5326      0.382      1.396      0.163      -0.215       1.280
C(Catalogs)[T.12]         1.8586      0.373      4.977      0.000       1.127       2.591
C(Catalogs)[T.18]         3.3863      0.408      8.306      0.000       2.587       4.185
C(Catalogs)[T.24]         3.9885      0.426      9.366      0.000       3.154       4.823
Salary                   7.3e-05   1.01e-05      7.231      0.000    5.32e-05    9.28e-05
=========================================================================================
"""